.about {
  background-image: url("../assets/sky.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 5rem 4rem;
  min-height: 20rem;
}
.content h3 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
}
.maincontent {
  font-size: 1.2rem;
  font-weight: bold;
}
.content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
}
@media (max-width: 768px) {
  .about {
    height: 20px;
  }
}
